:root{
  --neon-blue:#21ebff;
  --blue-border:#3c67e3;
  --blue-shadow: #5ddcff;
  --gradient-blue-shadow2:linear-gradient(360deg, #4fafe6, #4e00c2);
  --blue-shadow2:#4e00c2;
  --white:#ffffff;
  --lightBlue-border:#4fafe6;
  --blue-scifi:#00fffd;
  --dark-blue:#2A3056;
}


/* Change the color of the underline */
 /* Select the text to be underlined and add an underline */
.signout-Line{
    text-decoration: underline var(--white);
}

.signout-Line:hover{
  text-decoration: underline var(--white);
  color: var(--white);
  text-shadow: 1px 0px 30px var(--blue-scifi);
  transition: underline 0.1s, text-shadow 0.1s, color 0.1s;
}

.signin-Line{
    text-decoration: underline var(--white);
}

.signin-Line:hover{
  text-decoration: underline var(--white);
  color: var(--white);
  text-shadow: 1px 0px 30px var(--blue-scifi);
  transition: underline 0.1s, text-shadow 0.1s, color 0.1s;
}

.reg-Line{
    text-decoration: underline var(--white);
}

.reg-Line:hover{
  text-decoration: underline var(--white);
  color: var(--white);
  text-shadow: 1px 0px 30px var(--blue-scifi);
  transition: underline 0.1s, text-shadow 0.1s, color 0.1s;
}
